.card {
  padding-top: 65px;
}

.card-content {
  padding-top: 21px;
}

.card-top {
  .container {
    display: flex;
  }

  &__left {
    width: 57.5%;
  }

  &__right {
    padding-top: 57px;
    padding-left: 10.7%;
    width: calc(100% - 57.5%);
  }
}

.card-info {
  &__prop {
    padding-left: 19px;
  }

  &__title {
    margin-top: 13px;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 24px;
  }

  &__rate {
    margin-bottom: 26px;
    font-size: 13px;
    color: var(--color-gray);

    img {
      margin-right: 3px;
    }
  }

  &__price {
    margin-bottom: 23px;
  }

  &__descr {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 52px;
    color: Var(--color-tundora);
  }

  &__second-select {
    margin-bottom: 84px;
  }

  &__stepper {
    margin-bottom: 10px;
  }

  &__btn {
    width: 100%;
    height: 58px;
    font-weight: 700;
    font-size: 10px;
    color: var(--color-tundora);
    background-color: #f2f2f2;
    text-transform: uppercase;
    transition: color 0.5s background-color 0.5s;

    &:hover {
      opacity: 0.3;
      background-color: var(--color-dark);
      color: var(--color-white);
      transition: color 0.5s background-color 0.5s;
    }

    &--tocart {
      margin-bottom: 10px;
      color: var(--color-white);
      background-color: var(--color-dark);

      &:hover {
        opacity: 0.5;
        color: var(--color-white);
        background-color: var(--color-tundora);
        transition: color 0.5s background-color 0.5s;
      }
    }
  }
}

.info-price {
  display: flex;
  align-items: end;

  &__current {
    margin-right: 20px;
    font-size: 24px;
    font-weight: 700;
  }

  &__old {
    margin-top: 7px;
    text-decoration: line-through;
    color: #959595;
  }
}

.color-select {
  &__selected {
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: var(--color-gray);

    span {
      margin-left: 1px;
      color: var(--color-dark);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin-left: 2px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__btn {
    position: relative;
    border-radius: 100%;
    width: 24px;
    height: 24px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border: 1px solid #ccc;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      transform: translate(-50%, -50%);
      transition: border 0.3s;
    }

    &:hover {
      &::before {
        border: 1px solid var(--color-dark);
        transition: border 0.3s;
      }
    }

    &--active {
      &::before {
        border: 1px solid var(--color-dark);
        transition: border 0.3s;
      }
    }
  }
}

.size-select {
  margin-top: 28px;

  &__selected {
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 13px;
    text-transform: uppercase;
    color: var(--color-gray);

    span {
      margin-left: 1px;
      color: var(--color-dark);
    }
  }

  &__clear {
    display: none;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    margin-top: 13px;
    color: #d24242;
    text-transform: uppercase;

    img {
      margin-right: 4px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__btn {
    position: relative;
    width: 42px;
    height: 32px;
    font-size: 13px;
    color: var(--color-gray);
    transition: color 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #ccc;
      width: 100%;
      height: 100%;
      transition: border 0.3s;
    }

    &:hover {
      color: var(--color-dark);
      transition: color 0.3s;

      &::before {
        border: 1px solid var(--color-dark);
        transition: border 0.3s;
      }
    }
    
    &--active {
      color: var(--color-dark);

      &::before {
        border: 1px solid var(--color-dark);
        transition: color 0.3s;
      }
    }
  }
}

.stepper {
  display: flex;
  height: 58px;
  border: 1px solid #ccc;
  background-color: #ffffff;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 100%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(0.8);
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__input {
    flex-grow: 1;
    height: 100%;
    border: none;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-dark);
  }
}

.card-bottom {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  span {
    color: var(--color-gray);
  }

  a {
    color: var(--color-dark);

    &:hover {
      color: var(--color-gray);
    }
  }

  &__social {
    margin-top: 16px;
    display: flex;
    align-items: center;

    span {
      margin-right: 12px;
    }
  }
}