.catalog-filters {
  padding-top: 28px;
  padding-right: 65px;
  margin-right: 30px;
  width: 309px;
}

.catalog-content {
  min-height: 500px;

  .container {
    display: flex;
  }
}

.hide-filters {
  margin-bottom: 18px;
  padding-left: 25px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  background-image: url("../../img/cross.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.catalog-filter {
  border-top: 1px solid #eee;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;
    cursor: pointer;
    user-select: none;
  }

  /* &__caption {
    display: flex;
    align-items: center;
  } */

  &__title {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }

  &__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    color: #aaa;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: currentColor;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
    }
  }

  &__bottom {
    display: none;
    padding-bottom: 40px;
  }

  &__items {
    columns: 2;
  }

  &__item {
    margin-bottom: 14px;

    &:nth-child(5n) {
      margin-bottom: 0;
    }
  }
  
  &--open {
    .catalog-filter__bottom {
      display: block;
    }

    .catalog-filter__toggle {
      &::before {
        display: none;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid #eee;
  }
}

.quantity {
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  padding: 0 5px;
  width: 17px;
  height: 17px;
  font-weight: 700;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.custom-checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  &__text {
    position: relative;
    padding-left: 16px;
    color: var(--color-gray);
    font-size: 13px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.8px;
      border: 2px solid #aaa;
      width: 11px;
      height: 11px;
    }
  }

  &__input {
    &:checked + span {
      color: var(--color-dark);

      &::before {
        border-color: var(--color-dark);
      }

      &::after {
        content: "\2713";
        position: absolute;
        left: 2px;
        top: 0;
      }
    }
  }
}

.catalog-grid {
  width: 987px;
  padding-top: 34px;

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 80px;
  }
}

[data-grid-columns="3"] {
  .catalog-grid__item {
    width: 31.3%;

    &:not(:nth-child(3n)) {
      margin-right: 3.05%;
    }
  }
}

[data-grid-columns="4"] {
  .catalog-grid__item {
    width: 22.7%;

    &:not(:nth-child(4n)) {
      margin-right: 3.05%;
    }
  }
}

[data-grid-columns="5"] {
  .catalog-grid__item {
    width: 17.55%;

    &:not(:nth-child(5n)) {
      margin-right: 3.05%;
    }
  }
}

.catalog-props {
  margin-bottom: 15px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
  }
}

select {
  display: none;
}

.catalog-columns {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  &__text {
    margin-right: 3px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 6px;
  }

  &__btn {
    font-size: 10px;
    padding: 0 5px;
    color: var(--color-gray);

    /* &:hover {
      color: var(--color-dark);
    } */

    &--current {
      font-size: 10px; 
      color: var(--color-dark);
      padding: 0 5px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        opacity: 1;
        transition: width 0.15s;
      }
    }
  }
}

.catalog-choice {
  display: none; 
  font-size: 0;

  &__item {
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    font-size: 13px;
    padding: 5px 14px;
    color: var(--color-tundora);
    background-color: #eee;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-dark);
      transition: background-color 0.3s, color 0.3s;
    }

    &--img {
      width: 8px;
      height: 8px;
      pointer-events: none;
    }
  }

  &__clear {
    position: relative;
    font-weight: 500;
    font-size: 13px;
    
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      opacity: 1;
      transition: width 0.15s;
    }
  }

  &--img {
    width: 8px;
    height: 8px;
  }
}