.catalog-filters {
  padding-top: 28px;
  padding-right: 65px;
  width: 309px;
}

.catalog-content {
  min-height: 500px;
}

.hide-filters {
  margin-bottom: 18px;
  padding-left: 25px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  background-image: url("../../img/cross.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.catalog-filter {
  border-top: 1px solid #eee;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;
    cursor: pointer;
    user-select: none;
  }

  /* &__caption {
    display: flex;
    align-items: center;
  } */

  &__title {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }

  &__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    color: #aaa;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: currentColor;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
    }
  }

  &__bottom {
    display: none;
    padding-bottom: 40px;
  }

  &__items {
    columns: 2;
  }

  &__item {
    margin-bottom: 14px;

    &:nth-child(5n) {
      margin-bottom: 0;
    }
  }
  
  &--open {
    .catalog-filter__bottom {
      display: block;
    }

    .catalog-filter__toggle {
      &::before {
        display: none;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid #eee;
  }
}

.quantity {
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  padding: 0 5px;
  width: 17px;
  height: 17px;
  font-weight: 700;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.custom-checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  &__text {
    position: relative;
    padding-left: 16px;
    color: var(--color-gray);
    font-size: 13px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.8px;
      border: 2px solid #aaa;
      width: 11px;
      height: 11px;
    }

  }

  &__input {
    &:checked + span {
      color: var(--color-dark);

      &::before {
        border-color: var(--color-dark);
      }

      &::after {
        content: "\2713";
        position: absolute;
        left: 2px;
        top: 0;
      }
    }
  }
}