.hero-catalog {
    padding-top: 130px;

  &__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #f8f8f8;
    background-image: url("../../img/girl-catalog.png");
    background-repeat: no-repeat;
    background-position: 77%;
  }

  &__container {
    position: relative;

  }
}

.catalog-slide {
  padding: 105px 108px;

  &__title {
    margin: 0;
    margin-bottom: 18px;
    max-width: 375px;
    font-weight: 700;
    font-size: 36px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 41px;
    max-width: 385px;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    color: var(--color-tundora);
  }

  &__btns {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
  }

  &__link {
    display: inline-block;

    &--dark {
      margin-right: 15px;
      padding: 16px 44px;
      border: 1px solid var(--color-dark);
      color: var(--color-white);
      background-color: var(--color-dark)
    }

    &--light {
      padding: 16px 43px;
      border: 1px solid var(--color-dark);
      color: var(--color-dark);
      background-color: transparent;
    }
  }
}

.hero-prev-btn,
.hero-next-btn {
  position: absolute;
  left: 30px;
  top: 50%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-dark);
  width: 48px;
  height: 48px;
  background-color: var(--color-white);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  
  img {
    width: 20px;
  }

  &:hover {
    background-color: var(--color-dark);
  }
}

.hero-next-btn {
  left: auto;
  right: 30px;
  background-color: var(--color-dark);

  &:hover {
    background-color: var(--color-white);
  }
}