.hero {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-color: var(--quill-gray);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#000000, 0.05);
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 550px;
    font-weight: 700;
    font-size: 72px;
    line-height: normal;
    text-align: left;
  }

  &__descr {
    margin: 0;
    font-size: 18px;
  }

  &__image {
    position: absolute;
    max-height: 90%;
    right: 280px;
    top: 116px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 260px;
    height: 100%;
  }
}

.banner-slider {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .swiper-slide {
      height: 100%;
    }
}

.banner-pag {
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);

  .swiper-pagination-bullet {
    margin: 0 12px;
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    position: relative;
    background-color: var(--color-dark);
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--color-white);
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

}