.main-products {
  &__container {
    padding-top: 76px;
    padding-bottom: 30px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
  }

  &__item {
    margin: 0 18px;
  }

  &__btn-center {
    text-align: center;
    margin-top: 92px;
  }

  &__more {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    color: var(--color-gray);
    font-size: 13px;

    span {
      display: inline-block;
      margin-bottom: 12px;
    }
  }

  &__btn {
    font-size: 24px;

    &--current {
      &::before {
        width: 100%;
        transition: width 0.15s;
        }
    }
  }
}

.products-grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 29px;
    margin-bottom: 80px;

    &:nth-child(5n) {
      margin: 0;
    }
    
    &:nth-last-child(-n+5) {
      margin-bottom: 0;
    }
  }
}